@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

:root {
    --m-grape-0: #f8f0fc;
    --m-grape-1: #f3d9fa;
    --m-grape-2: #eebefa;
    --m-grape-3: #e599f7;
    --m-grape-4: #da77f2;
    --m-grape-5: #cc5de8;
    --m-grape-6: #be4bdb;
    --m-grape-7: #ae3ec9;
    --m-grape-8: #9c36b5;
    --m-grape-9: #862e9c;
    --m-grape-10: #702682;
    --m-grape-11: #5a1e69;
    --m-grape-12: #44174f;
    --m-violet-0: #f3f0ff;
    --m-violet-1: #e5dbff;
    --m-violet-2: #d0bfff;
    --m-violet-3: #b197fc;
    --m-violet-4: #9775fa;
    --m-violet-5: #845ef7;
    --m-violet-6: #7950f2;
    --m-violet-7: #7048e8;
    --m-violet-8: #6741d9;
    --m-violet-9: #5f3dc4;
    --m-violet-10: #5235ab;
    --m-violet-11: #462d91;
    --m-violet-12: #3a2578;
    
    --bg-termay-fluent: #dc659e87;
    --bs-navbar-brand-color: var(--m-grape-0) !important;
    
    --bs-body-font-family: 'Roboto Mono',system-ui,-apple-system,"Segoe UI","Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-family: var(--bs-body-font-family);
}

:root, [data-bs-theme="light"] {
    --bs-primary: #bd0dfd;
    --bs-primary-hover: #a10bd7;
    --bs-primary-active: #970aca;
    --bs-primary-subtle: #f2cfff;
    --bs-primary-subtle-hover: #e8aafe;
    --bs-primary-subtle-active: #e59efe;
    --bs-primary-emphasis: #710898;
    --bs-primary-emphasis-hover: #550672;
    --bs-primary-border-subtle: #e59efe;
    --bs-primary-rgb: 189, 13, 253;
    --bs-text-on-primary: #ffffff;
    --bs-border-radius: 0.705rem;
    --bs-border-width: 1px;
}

[data-bs-theme="dark"] {
    --bs-primary: #d462fe;
    --bs-primary-hover: #dd81fe;
    --bs-primary-active: #e191fe;
    --bs-primary-subtle: #4c0565;
    --bs-primary-subtle-hover: #550672;
    --bs-primary-subtle-active: #710898;
    --bs-primary-emphasis: #e192fe;
    --bs-primary-emphasis-hover: #de86fe;
    --bs-primary-border-subtle: #710898;
    --bs-primary-rgb: 212, 98, 254;
    --bs-text-on-primary: #000000;
}